
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: 'Grenze Gotisch', cursive;
    }
    
    body {
    
        height:100vh;
        /* possivel gradient */
         background: linear-gradient(to bottom left, #640c75, #b037b4, #e285eb);
         display:flex;
         flex-direction: column;
        
         justify-content: center;
    }
    @media only screen and (max-width: 768px) {
        body {
            height:auto;
        }


        }
    
    .box {
        height: calc(100% - 6.25rem);
    }
    
    .div-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .title {
        font-size: max(3em, 0.938rem);
        font-weight: 100;
    }
    
    .sub-title {
        font-size: 3em;
        font-weight: 100;
    }
    .score-life {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #fff;
        margin-top: 1.25rem;
    }
    .resultado {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-top: 3.125rem;
        padding: 0;
        font-size: 1.5rem;
        border: 2px dashed black;
    }
    
    .selection {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.125rem;
    }
    .reset-button {
        cursor: pointer;
        margin-top: 1.25rem;
        width: 9.375rem;
        height:2.5rem;
        border-radius: 0.313rem;
        border: none;
        font-size:1.25rem;
        background-color: rgb(122, 0, 102);
        color:white;
    }
    
    .reset-button:hover  {
        background-color: rgb(240, 122, 210);
    }

   @media(max-width:28.125rem) {
       .reset-button {
            margin-bottom:25px;
       }

   }

    @media(max-width: 28.125rem) {
        .selection {
            flex-direction: column;
            padding: 3.125rem;
        }
    
    }
    
    .selection button {
        background: none;
        border: none;
        outline: none;
    }
    
    .icon {
        height: 6.25rem;
        cursor: pointer;
        margin-right: 3.125rem;
        margin-left: 3.125rem;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
       /* background: linear-gradient(to bottom left, #af20cc, #d377d6, #cc6cd4); */
        

        color: white;
        
    }

    
   /* @media(max-width: 28.125rem) {
        .footer {
            height: 9.375rem;
        }
    }*/
    
    .list {
        display: flex;
    }
    
    .link {
        display: inline-block;
        padding: 0.625rem;
        color: white;
    }
    
    /* ajustando posições das imagens 
ajustando layout

>>>>>>> b34db85aff1725434f26a224c28f7f884e726733
*/